!!! 5
%html
  %head
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    %meta{name: 'MobileOptimized', content: 320}
    = favicon_tag 'images/favicon.ico'
    = stylesheet_link_tag :application
    = partial 'layouts/typekit'
  %body{class: page_class}

    - if is_blog_article?
      = partial 'layouts/post', locals: { content: yield }
    - else
      = yield

    %footer.site-footer
      %a.subscribe.icon-feed{href: feed_path}
        %span.tooltip Subscribe!
      .inner
        %section.copyright
          &copy;
          = Time.now.year
          = blog_name
        %section.footer-contact
          = link_to "twitter", 'https://twitter.com/lmjabreu'
          &bull;
          = link_to "email", 'mailto:hello@lmjabreu.com'

    = javascript_include_tag :application
